@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #565961;
  color: #005d;
}

.mybg {
  background: url("./components/blog.jpg");
  width: 100vw;
  background-size: cover;
}